# Gradle cache
android/.gradle/
android/build/
android/plugins/*/build/

# Android Studio
*.iml
.idea/

# Local config
local.properties

# Godot engine AAR (large binary, download manually from Godot releases)
android/libs/godot-lib*.aar
